<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Cabra Games</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Game</h1>
        <h2>
            <span th:text="'Game is happening'"></span>
        </h2>
    </div>
    <input type="button" value="Win game" 
    th:onclick="|winGame('${gid}')|"/>
    
    <input type="button" value="Lose game" 
    th:onclick="|loseGame('${gid}')|"/>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<script type="text/javascript">

function winGame(gid){
    location.href="/winthegame?gid="+gid;
}

function loseGame(gid){
    location.href="/losethegame?gid="+gid;
}


</script>
</body>
</html>
